# Ignore large database files
*.db

# Ignore data files
*.csv
*.tsv
*.xlsx
*.xls
*.json

# Ignore system files
.DS_Store

# Exclude shapefiles and related metadata
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.shp.xml
*.ea.iso.xml
*.iso.xml
